$whole-background-color: #F0F0F0;
$navbar-height: 60px;
$side-bar-bgcolor: #333366;
$main-color-light: #6363B0;
$main-color-heavy: #1B1B36;
$divider-color: #E0E0E0;
$icon-color: #2C2918;
$navbar-word-color: #3C3C3C;
$top-navbar-color: rgba(255, 255, 255, 1);
$button-color:  #344FA8;
$font-family: 'Microsoft JhengHei';
html{
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  width: 100%;
  height: 100%;

 // overflow-x: hidden;
}
.all{
  height: 100%;
  width: 100%; 
}
.navbar-default {
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.12);

}
.navbar-default .navbar-brand{
  color: $icon-color;
}
.top-navbar{
  width: 100%;
  z-index: 999;
  .navbar-brand{
    font-size: 30px;
    font-weight: bold;
  }
  .navbar-brand:hover{
    color: $icon-color;
    opacity: .7;
  }
}
.navbar-toggle{
  border: none;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: $top-navbar-color;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: gray;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 20px;
  height: 2px;
}
.navbar-default .navbar-nav > li > a {
  font-size: 18px;
  color:  $navbar-word-color;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  opacity: .7;
//  background-color: transparent;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: $navbar-word-color;
  opacity: .7;
  background-color: $top-navbar-color;
}
.name{
  margin-right: 30px;
}
.navbar-default .navbar-nav .open .dropdown-menu{
  border-radius: 5px;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  font-size: 18px;
  color: $navbar-word-color;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: $navbar-word-color;
  opacity: 0.7;
  background-color: transparent;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: $navbar-word-color;
  background-color: $top-navbar-color;
}
@media screen and (max-width: 767px){
  .navbar-default .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
  }
  .navbar-default .info-divider > li{
    border-bottom: 1px solid  $divider-color;
  }
  .navbar-default .log-divider > li:not(:last-child){
    border-bottom: 1px solid  $divider-color;
  }

}
