<!DOCTYPE html>
<html>
<head>

  {% load rest_framework %}
  {% load staticfiles %}

  <title>share class</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'dist/css/bootstrap.min.css' %}"> 
  <link rel="stylesheet" href="{% static 'dist/css/font-awesome.min.css' %}">
  <link href="{% static 'dist/css/change_password.css' %}" rel="stylesheet" type="text/css" /> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="{% static 'dist/js/bootstrap.min.js' %}"></script>
</head>
<body id="homePage" data-spy="scroll" data-target=".navbar">
  <div class="id-wrapper">
    <div class="top-navbar">
      <nav id="navbar-id" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button> 
            <a class="navbar-brand" href="/" id="title-id">ShareClass</a>
          </div>
          <div class="collapse navbar-collapse myNavbar">
            <ul class="nav navbar-nav info-divider">
              <li><a href="">搜尋課程</a></li>

              <li><a href="">分享課程</a></li> 
              <li><a href="">參加社群</a></li>
            </ul>
            <!-- if login -->
            {% if request.user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right" id="user-icon-id" >
              <li class="dropdown name">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="nickname">{{ request.user.userprofile.nickname }} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">個人檔案</a></li>
                  <li><a href="/accounts/change_password/">修改密碼</a></li>
                  <li><a href="javascript: logout()">登出</a></li>
                </ul>
              </li>
            </ul>
            {% endif %}
            
          </div>
        </div>
      </nav>
    </div><!--navbar-->
    <!--form-->
    <div class="container">
      <!--error message-->

      <div class="reset-panel">
        <form action="" method="post" role="form" id="form-id">

          {% csrf_token %}

          <h2 class="panel-title">修改密碼</h2>
          <!--error message-->
          <div class="error-msg" id="error"></div>
          
          <div class="form-group">
            <input type="password" name="current_password"" class="form-control form-style" placeholder="舊密碼" required>
          </div>

          <div class="form-group">

            <input name="new_password" id="password" placeholder="新密碼(6-20位英文數字)" class="form-control form-style" type="password" onblur="validate_password_format()" required/>

          </div>
          <p id="validate-error-password-format" class="validate-error"></p>

          <div class="form-group">

            <input name="confirm_new_password" id="confirm-password" placeholder="確認新密碼" class="form-control form-style" type="password" onfocus="validate_password_same()" required/>

          </div>
          <p id="validate-error-password" class="validate-error"></p>


          <button class="btn btn-lg btn-style btn-block" type="submit" id="submit-button" disabled="disabled">送出</button>
        </form>
      </div><!--end of login pangel-->
    </div> <!--end of loign container-->
  </div><!--end of all class-->

  <script src="{% static 'dist/js/change_password.js' %}"></script>

</body>
</html>
