<!DOCTYPE html>
<html>
<head>
  
  {% load rest_framework %}
  {% load staticfiles %}
  <title>share class</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'dist/css/bootstrap.min.css' %}"> 
  <link rel="stylesheet" href="{% static 'dist/css/font-awesome.min.css' %}">
  <link href="{% static 'dist/css/login.css' %}" rel="stylesheet" type="text/css" /> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="{% static 'dist/js/bootstrap.min.js' %}"></script>
</head>
<body id="homePage" data-spy="scroll" data-target=".navbar">
  <div class="id-wrapper">
    <div class="top-navbar">
      <nav id="navbar-id" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button> 

            <a class="navbar-brand" href="/" id="title-id">ShareClass</a>
          </div>

          <div class="collapse navbar-collapse myNavbar">
            <ul class="nav navbar-nav navbar-right log-divider">
              <li><a href="/accounts/login/">登入</a></li>
              <li><a href="/accounts/register/">註冊</a></li>
            </ul>
          </div> 
        </div>
      </nav>
    </div><!--navbar-->
    <!--form-->
    <div class="container">
      <div class="login-panel">
        <form action="" method="post" role="form" id="form-id">

          {% csrf_token %}

          <h2 class="panel-title">登入</h2>


          <!-- login error message -->
          
    			<div class="error-msg" id="error"></div>

          <!-- end of error message -->

          <div class="form-group">
            <input type="email" name="username" class="form-control form-style" placeholder="電子信箱" required autofocus>
          </div>
          <div class="form-group">
            <input type="password" name="password" class="form-control form-style" placeholder="密碼" required>
          </div>
          <div class="forgot-pwd">
          <!-- style modal-->
          <!--  <a data-toggle="modal" data-target="#pwdModal">忘記密碼</a> -->

          <!-- style new page-->
            <a href="/accounts/find_password/">忘記密碼</a>
          </div>
          <button class="btn btn-lg btn-style btn-block" type="submit">登入</button>
        </form>
        <div class="register-word">
          <a href="/accounts/register/" >尚未註冊?</a>
        </div>
        <h4 class="diff-acc-title">用其他帳戶登入</h4>
        <div class="diff-acc text-center">
          <li class="acc-style">
            <a class="fb-word" href="{% url "social:begin" "facebook" %}">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
              Facebook
            </a>
          </li>
          <li class="acc-style text-center">
            <a class="google-word" href="{% url "social:begin" "google-oauth2" %}">
              <i class="fa fa-google-plus" aria-hidden="true"></i>
              Google
          </li>
        </div>
      </div><!--end of login pangel-->
    </div> <!--end of loign container-->
  <!-- Modal -->
  <div class="modal fade" id="pwdModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-center">重設密碼</h4>
        </div>
        <div class="modal-body">
          <form action="" method="post" role="form">
            <div class="form-group">
              <label for="modal-content">請輸入電子信箱</label>
              <input type="modal-email" id="modal-emil-id" class="form-control modal-form-style" placeholder="" required>
            </div>
            <div class="btn-position">
              <button type="submit" class="btn  modal-btn-style" value="submit">確認</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div><!--end of all class-->

  <script src="{% static 'dist/js/login.js' %}"></script>
</body>
</html>
